
<% if (typeof(previousImage) !== "undefined") { %>
	<div class="fluid-container upArrow">
		<a href="#edit-image-<%= previousImage.get("id") %>"><img src="/images/up.jpg" alt="Go To Previous Image" /></a>
	</div>
<% } %>
<div class="panel panel-default" id="edit-image-<%= image.get("id") %>">
	<div class="panel-body">
		<div class="container-fluid">
			<div class="col-md-4">
				<div class="domImage thumbnail" id="image<%= image.get("id") %>_zoomer">
				</div>
				<a id="lightboxTrigger" class="fancybox pull-right" href="<%= image.get("image_source") %>">View Larger</a>
			</div>
			<div class="col-md-8" id="image<%= image.get("id") %>_editor">
				<h3>Image Description Details</h3>
				<form class="form-horizontal" role="form" action="#">
					<div class="row">
						<div class="form-group">
			    			<span class="col-sm-3 control-label">Poet Image ID</span>
			    			<div class="col-sm-9">
			      				<p class="form-control-static"> <%= image.get("id") %></p>
			    			</div>
			  			</div>
			  			<div class="form-group">
			    			<span class="col-sm-3 control-label">Alt Text</span>
			    			<div class="col-sm-9">
			      				<p class="form-control-static altText"></p>
			    			</div>
			  			</div>
			  			<div class="form-group">
			  				<label class="col-sm-3 control-label" for="dynamic_image_should_be_described_<%= image.get("id") %>">Needs Description?</label>
			  				<div class="col-sm-6">
			  					<select id="dynamic_image_should_be_described_<%= image.get("id") %>" name="dynamic_image[should_be_described]" class="form-control should_be_described">
			  						<option value="">Don't Know</option>
									<option value="true" <%= image.get("should_be_described") == true ? "selected" : "" %>>Yes</option>
									<option value="false" <%= image.get("should_be_described") == false ? "selected" : "" %>>No</option>
								</select>
			  				</div>
			  			</div>
			  			<div class="long-description" <%= !image.has("dynamic_description") ? "style=\"display: none;\"" : "" %>>
				  			<div class="form-group">
				  				<label class="col-sm-3 control-label" for="dynamic_image_image_category_<%= image.get("id") %>">Image Type*</label>
				  				<div class="col-sm-6">
				  					<select id="dynamic_image_image_category_<%= image.get("id") %>" name="dynamic_description[dynamic_image_attributes][image_category_id]" class="form-control image_category">
				  						<% _.each(image_categories, function(category) { %>
				  							<option value="<%= category.get("id") %>" <%= typeof(image.get("image_category_id")) !== "undefined" && image.get("image_category_id") == category.get("id") ? "selected" : "" %>><%= category.get("name") %></option>
				  						<% }); %>
									</select>
				  				</div>
				  				<div class="col-sm-3">
				  					<a class="view_sample" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" href="#" data-trigger="focus" tabindex="0">View Sample</a>
				  				</div>
				  			</div>
				  			<div class="form-group container-fluid">
				  				<label for="long-description-<%= image.get("id") %>">Long Description*</label>
				  				<ul class="nav nav-tabs" role="tablist">
  									<li><a href="#edit-<%=image.get("id") %>" role="tab" data-toggle="tab" id="edit-tab-<%= image.get("id") %>" class="edit">Edit</a></li>
  									<li class="active"><a href="#preview-<%=image.get("id") %>" role="tab" data-toggle="tab" class="preview">Preview</a></li>
								</ul>
								<div class="tab-content">
								  <div class="tab-pane" id="edit-<%=image.get("id") %>">
								  	<div class="clearfix"></div>
					  				<textarea rows="3" cols="20" id="long-description-<%= image.get("id") %>" name="long-description-<%= image.get("id") %>"><%= typeof(image.get("dynamic_description")) != "undefined" ? image.get("dynamic_description").body : ""%></textarea>
					  				<button class="btn btn-primary pull-right save">Save</button>
					  				<p class="text-success pull-right update-message"></p>
					  				<p class="text-danger pull-right update-message"></p>
					  				<button class="btn btn-default cancel">Cancel</button>
								  </div>
								  <div class="tab-pane active" id="preview-<%=image.get("id") %>">
								  	<div class="panel panel-default">
										<div class="panel-body image_description">
											<%= typeof(image.get("dynamic_description")) !== "undefined" ? image.get("dynamic_description").body : "" %>
										</div>
									</div>
								  </div>
								</div>
				  				
				  			</div>
				  		</div>
			  		</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% if (typeof(nextImage) !== "undefined") { %>
	<div class="fluid-container">
		<a href="#edit-image-<%= nextImage.get("id") %>"><img src="/images/down.jpg" alt="Go To Next Image" /></a>
	</div>
<% } %>