<form class="form-horizontal">
<div class="question">
	<fieldset>
		<legend><strong><%= question.get("text") %></strong></legend>
		<% if (question.has("answers")) { %>
			<div id="answers">
			<% _.each(question.get("answers"), function(answer) { %>
				<div class="radio">
					<label for="<%= answer['answer_id'] %>">
						<input type="radio" class="answer" value="<%= answer['answer_id'] %>" name="answer" id="<%= answer['answer_id'] %>" <% if (typeof(question.get("answer")) !== 'undefined' && question.get("answer")["answer_id"] == answer['answer_id']) { %> checked <% } %>>
						<%= answer['label'] %>
					</label>
					<% if (answer['value'] == "-oth") { %>
						<input type="text" name="answer_other" id="other" placeholder="Other" value="<%= question.get("other") %>"/>
						<label for="other" class="sr-only">Other</label>
					<% } %>
				</div>
			<% 	}); %>
			</div>
		<% } else { %>
				<div>
					<textarea id="freeform" name="freeform" class="form-control"></textarea>
				</div>
		<%	} %>
	</fieldset>
</div>
</form>