
<div class="panel_contents">
	<h2>Training</h2>
  <ul>
    <li><%= link_to "Introduction to Accessible Images", training_index_path %></li>
    <li><%= link_to "When to describe?", training_decision_tree_path %></li>
    <li>How to describe?</li>
  </ul>
</div>    