
<div role="navigation">
	<h2>Training</h2>
	<ul class="nav">
		<li><%= link_to "Introduction to Accessible Images", training_index_path %></li>
	    <li><%= link_to "When to describe?", training_when_to_describe_path %></li>
	    <li><%= link_to "How to describe?", training_how_to_describe_path %></li>
	</ul>
</div>    