<div id="sidebar">
    <div class="sidebar_section panel">
      <div class="panel_contents">
      	<ul>
      		<li>Introduction</li>
      		<li>Tools &amp; Examples</li>
      		<li>Practice</li>
      		<li>Additional Resources</li>
      	</ul>
      </div>    
    </div>
  </div>