
<div class="panel_contents">
	<h2>Training</h2>
  <h3>Introduction</h3>
  <ul>
    <li>Image Accessibility</li>
    <li>When to provide access</li>
    <li>How to provide access</li>
    <li>Style guides</li>
  </ul>
  <h3>Tools &amp; Examples</h3>
  <ul>
    <li>Image Types</li>
    <li><%= link_to "Decision Tree", training_decision_tree_path %></li>
    <li>NCAM Best Practices</li>
    <li>Sample Book</li>
  </ul>
  <h3>Practice</h3>
  <ul>
    <li>Decision Tree Exercises</li>
    <li>Description Templates</li>
  </ul>
  <h3>Need More Info?</h3>
  <ul>
    <li>Guidelines</li>
    <li>Tutorials</li>
    <li>Other Resources</li>
  </ul>
</div>    