<% @title="How to Describe?" %>
<div class="container-fluid">
	<div class= "row">
		<div class="col-md-2">
			<%= render partial: 'training_navigation', locals: {section: :tools_and_examples} %>
		</div>
		<div class="col-md-10"> 
			<h1>How to Describe?</h1>
			<h2>Style Guides</h2>
			<ul>
				<li>Be as efficient with words and punctuation as possible (use proper punctuation and grammar).</li>
				<li>Convey only the necessary information a reader would be asked to know.</li>
				<li>Take the time to scroll through the text above and below an image. If information in the image is adequately explained in the text or caption, then simply write “image described in text/caption” in the description box or mark the image as non-essential.</li>
				<li>When the same image appears more than once, only describe the first image.</li>
				<li>Don’t worry about interpreting subject matter content knowledge from the image. The reader should have the same opportunity as peers to develop his/her own hypotheses/conclusions based on the image.</li>
				<li>Instead of using the word “image” in the description, convey more meaningful information by identifying the type of image: photo, drawing, cartoon, diagram, poster, etc.</li>
				<li>Bar and pie charts, tables, and some line graphs should be identified as such with the title and axis.</li>
				<li>Flow charts should be presented with the title or what idea is being conveyed. Information may be presented as a list.</li>
			</ul>
			<h2>Determining If the Image Needs a Description</h2>
			<p>
				Not all images require description. In some cases, images are purely decorative or they are already adequately described in surrounding content. Learn more about when to describe an image and practice assessing images in the <%= link_to "\"When to describe?\"", training_when_to_describe_path %> section. 
			</p>
			
			<h2>Image Description Basics</h2>
			<ul>
				<li><strong>Describe only what you see.</strong> One sees physical appearances and actions; one does not see motivations or intentions.</li>
				<li><strong>Describe objectively.</strong> Allow readers to form their own opinions and draw their own conclusions. Don’t editorialize, interpret, explain, or analyze the material.</li>
				<li><strong>Go from the general to the specific.</strong> Start by creating a general context, then move to details to enhance understanding and appreciation. The initial information presented about a scene will create a foundation in the mind of the reader on which to build.</li>
				<li><strong>Color.</strong> Color may have emotional connotations even for blind readers, and many readers may be partially or previously sighted, and therefore including color enhances their ability to better imagine a scene. Color descriptions should therefore be included for most images (e.g. the blue sky or the green lizard). The exception is for images such as charts or maps (e.g. the blue bar or the red line) where color is irrelevant to the teaching concept, and can be ignored in most cases.</li>
				<li><strong>Language.</strong> Image description is a literary art form.  It's a type of poetry, much like a haiku. We use words that are succinct, vivid, and imaginative to convey visual images. Think about getting as much content into as few words as possible. A great practice is to read your descriptions aloud to yourself or another. How do they flow when heard versus read.</li>
				<li><strong>Point of View and Narrative Tense.</strong> Write in present tense, using active voice (e.g., “Ted breaks the window,” is preferable to, “The window was broken by Ted.”)  Use third-person narrative style to show neutrality and noninterference.</li>
				<li><strong>Describing emotions.</strong> Limit the use of words describing emotion, such as suspicious or furious.  Ask yourself what you see that prompts you to think that she looks suspicious or furious. Instead, write what you see, such as: “she raises her eyebrows,” or “her fists are clenched.” You may judiciously use phrases such as, “She appears pensive,” or “she appears sad” if describing only facial expressions or body language is too limited.</li>
				<li><strong>“We See.”</strong> Avoid using visually related words or phrases such as “we see,” “shown below,” or “can be viewed.” Preferable words include “depicts” and “indicates.”</li>
				<li><strong>Mix it up.</strong> How many different words can you use to describe someone moving along a sidewalk?   Why say "walk" when you can more vividly describe the action, with words such as strolls, skips, stumbles, or saunters?</li>
				<li><strong>Pronouns.</strong> Use pronouns only when it is clear to whom or what the pronoun refers.</li>
				<li><strong>Metaphor/Simile.</strong> Describe shapes, sizes, and other essential attributes of images by comparison to objects or items familiar to the intended audience. For example, “The ball is the size of an apple.” Be sure to use metaphors that will be readily identifiable by a blind reader. For example, “the room is as big as a whale” is less helpful than the room is as big as a bus, since a blind readerw ill likely have had first-hand experience with a bus, but probably not a whale!</li>
				<li><strong>Censorship.</strong> Don’t censor information for personal reasons such as your discomfort with the material or political beliefs. Describers must objectively relay the visual elements of nudity, sexual acts, violence, etc.</li>
			</ul>
			<h2>Guidelines for Specific Types of Images</h2>
			<p>
				The National Center for Accessible Media at WGBH provides guidelines for describing specific types of images found commonly in science or math content. Example descriptions include:
			</p>
			<ol>
				<li>Bar Charts: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exa" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exa</a></li>
				<li>Complex Diagrams and Illustrations: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exi" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exi</a></li>
				<li>Flow Charts: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exg" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exg</a></li>
				<li>Line Graphs: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exb" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exb</a></li>
				<li>Math Equations: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/math_equations" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/math_equations</a></li>
				<li>Pie Charts: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exf" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exf</a></li>
				<li>Scatter Plots: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exd" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exd</a></li>
				<li>Standard Diagrams and Illustrations: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exh" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exh</a></li>
				<li>Tables: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exe" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exe</a></li>
				<li>Venn Diagrams: <a href="http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exc" target="_new">http://ncam.wgbh.org/experience_learn/educational_media/stemdx/exc</a></li>
			</ol>
		</div>
	</div>
</div>
<div class="clear"></div>
