<div id= "container">
	<div class="left-col">
		<%= render partial: 'training_navigation', locals: {section: :tools_and_examples} %>
	</div>
	<div class="right-col">  
		<h1>Introduction to Accessible Images</h1>
		<p>
			There are many ways to create accessible alternatives for graphical content in a digital book. Few people outside of a small community of alternate media producers and consumers have seen, heard, or touched these alternate methods of accessing graphical content. However, as educational materials migrate from paper to electronic media, the opportunity exists to employ many of these alternatives to images, reduce the number of steps required to create an accessible digital book, and ensure that all content “born digital” is also “born accessible.”
		</p>
		<p>
			What images should be made accessible and how best to make them accessible are complex questions that even experts sometimes fail to reach consistent agreement. There is seldom a definitive answer; what makes an image accessible for one student is not necessarily accessible for other students. Even when a good alternative is identified, the technical requirements for creating that alternative may not always be clear or available (e.g. tactile graphics and 3D printed objects). 
		</p>
		<p>
			This training module presents a collection of sample images, practice examples, and additional resources that will help simplify the decision and writing process. Whether you are a professional publisher, content author, or an accessibility specialist, you can find resources here to make it much easier for you to make complex images accessible to all readers.
		</p>
	</div>
</div>
<div class="clear"></div>
