<% @title="Introduction to Accessible Images" %>
<div id= "container">
	<div class="left-col left-col-nav">
		<%= render partial: 'training_navigation', locals: {section: :tools_and_examples} %>
	</div>
	<div class="right-col">  
		<h1>Introduction to Accessible Images</h1>
		<p>
			As the publishing and content worlds shift from paper to electronic media, we have an unprecedented opportunity to ensure that all content that is "born digital" is also "born accessible" so that all readers have equal access to the information they need. While digital images are unfortunately still often accessible only to those who can see them well, there are now many ways to create accessible alternatives for graphical content. In the past few people outside of a small community of alternate media producers and consumers have seen, heard, or touched these alternate methods of accessing graphical content. Some of those methods, with detailed examples, are available in the DIAGRAM Center's 
			<a href="http://diagramcenter.org/samplebook/titlepage.html" target="_new">Accessible Image Sample Book</a>
			for review.
		</p>
		<p>
			In some cases a simple text description of an image will provide all the necessary information for the user. This training module presents a collection of sample images, practice examples, and additional resources that will help simplify the decision of when a text description will be useful and provide guidance on how to write an appropriate description. Whether you are a professional publisher, content author, or an accessibility specialist, you can find resources here to make it much easier for you to make images accessible to all readers.
		</p>
	</div>
</div>
<div class="clear"></div>
