<div id= "active_admin_content" class="with_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">  
    	<h1>Training</h1>
    	
		<h2>Introduction</h2>
		<ul>
			<li>Why image descriptions are important</li>
			<li>When alternate descriptions are needed vs. not</li>
			<li>Options for providing access to images</li>
			<li>Style guides for writing image descriptions</li>
		</ul>
    	<h2>Tools &amp; Examples</h2>
		<ul>
			<li>Image Categories &amp; Image Types</li>
			<li>Decision Tree &dash; When and How to Describe Images</li>
			<li>Best Practices &dash; Examples and Guidelines from NCAM</li>
			<li>Sample Book</li>
		</ul>
        <h2>Practice</h2>
        <ul>
        	<li>Decision Tree in Application</li>
        	<li>Templates for Generating Image Descriptions</li>
        </ul>
        <h2>Additional Resources</h2>
        <ul>
        	<li>BANA Guidelines</li>
        	<li>WebAIM</li>
        </ul>	
    </div>
  </div>
  <div id="sidebar">
    <div class="sidebar_section panel">
      <div class="panel_contents">
      	<ul>
      		<li>Introduction</li>
      		<li>Tools &amp; Examples</li>
      		<li>Practice</li>
      		<li>Additional Resources</li>
      	</ul>
      </div>    
    </div>
  </div>	  
</div>

<br />