<div id= "container">
	<div id="left_nav">
		<%= render partial: 'training_navigation', locals: {section: :tools_and_examples} %>
	</div>
	<div id="right">  
		<h1>Training</h1>
		Need intro paragraph.
	</div>
</div>
<div class="clear"></div>
