<div id= "container">
	<div class="left-col left-col-nav">
		<%= render partial: 'training_navigation', locals: {section: :tools_and_examples} %>
	</div>
	<div class="right-col">  
		<div id="when-to-describe">
			<p>
				<a class="fancybox" href="/images/decision_tree_flow_chart.jpg"><img src="/images/decision_tree_flow_chart_thumb.jpg" alt="decision-making points" width="250" class="right" /></a>
				<h1>When to describe?</h1>
				Many images can be described with text to adequately convey the necessary information. Descriptions are easily written for voicing, and current tools exist to allow many different people to add descriptions to images. In other cases, it is preferable to provide a tactile graphic rendering of the image. However, tactile graphics are not easily created, so should only be chosen when it is not possible for a verbal description to convey the necessary information from an image. There are also cases when a description or other alternative for an image is simply unnecessary because the image does not carry any necessary information. These images are commonly known as "eye candy." This section aims to guide you through the process of deciding when to describe an image. You will be asked a series of up to nine questions that takes you through the key decision-making points diagrammed at the right.
				
			</p>
		</div>
		<div class="clear"></div>
		<h2>Now, pick an image and start making decisions!</h2>
		<div id="imageGallery">
			<ul class="inline">
				<li>
					<a href="/images/decision_tree/0.jpg" class="toDescribe"><img src="/images/decision_tree/0_thumb.jpg" alt="The circulatory and respitory systems" class="shadow" /></a>
				</li>
				<li>
					<a href="/images/decision_tree/1.jpg" class="toDescribe"><img src="/images/decision_tree/1_thumb.jpg" alt="Pathogens Versus the Immune System" class="shadow" /></a>
				</li>
				<li>
					<a href="/images/decision_tree/2.jpg" class="toDescribe"><img src="/images/decision_tree/2_thumb.jpg" alt="About Puberty" class="shadow" /></a>
				</li>
				<li>
					<a href="/images/decision_tree/3.jpg" class="toDescribe"><img src="/images/decision_tree/3_thumb.jpg" alt="Baseball player at bat" class="shadow" /></a>
				</li>
			</ul>
			<div class="clear"></div>
			<ul class="inline">
				<li>
					<a href="/images/decision_tree/4.jpg" class="toDescribe"><img src="/images/decision_tree/4_thumb.jpg" alt="Line Graph" class="shadow" /></a>
				</li>
				<li>
					<a href="/images/decision_tree/5.jpg" class="toDescribe"><img src="/images/decision_tree/5_thumb.jpg" alt="Pie Chart" class="shadow" /></a>
				</li>
				<li>
					<a href="/images/decision_tree/6.jpg" class="toDescribe"><img src="/images/decision_tree/6_thumb.jpg" alt="Header" class="shadow" /></a>
				</li>
				<li>
					<a href="/images/decision_tree/7.jpg" class="toDescribe"><img src="/images/decision_tree/7_thumb.jpg" alt="United States" class="shadow" /></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>
<div id="questionnaire"  title="Decision Tree" style="display: none;">
	<div class="left-col">
		<!-- IMAGE -->
		<img src="/images/decision_tree/0.jpg" class="fancybox-image shadow" id="questionnaireImage" /><br clear="all" />
		<div class="viewOriginalImage">
			<a id="lightboxTrigger" class="fancybox left" href="/images/decision_tree/0.jpg">View Original Image</a>
			<a id="contextTrigger" class="fancybox right" href="/images/decision_tree/0_context.jpg">View Image In Context</a>
		</div>
	</div>
	<div class="right-col">
		<div id="question">
		</div>
		<div id="summary"></div>
		<div id="describe"></div>
		<div id="buttons">
			<input type="button" id="prev" value="Back" /><input type="button" id="next" value="Next" />
		</div>
	</div>
</div>
<!-- Templates -->
<script type="text/template" id="question-template">
	<div class="question">
		<fieldset>
			<legend><strong>{{= text }}</strong></legend>
			{{ if (typeof(answers) !== "undefined") { }}
				{{ _.each(answers, function(answer) { }}
					<div>
						<input type="radio" class="answer" value="{{= answer['answer_id'] }}" name="answer" id="{{= answer['answer_id'] }}" {{ if (typeof(answer_id) !== 'undefined' && answer_id == answer['answer_id']) { }} checked {{ } }}>
						<label for="{{= answer['answer_id'] }}">{{= answer['label'] }}</label>
						{{ if (answer['value'] == "-oth") { }}
							<input type="text" name="answer_other" id="other" />
						{{ } }}
					</div>
				{{ 	}); }}
			{{ } else { }}
					<div>
						<textarea id="free" name="free"></textarea>
					</div>
			{{	} }}
		</fieldset>
	</div>
</script>

<script type="text/template" id="describe-template">
	<div>
		<p>
			<h3>Based on your answers, the recommended action is to:</h3> 
			{{ if (describe == "no") { }}
				<span id="no">Do not describe this image.</span>
			{{ } else { }}
				<span id="yes">Describe the image.</span>
			{{ } }}
		</p>
		<p id="play_again"><input type="button" id="play_again_button" value="Choose a New Image" /></p>
	</div>
</script>

<script type="text/template" id="questionnaire-summary-template">
	<div>
		<p>
			<h3>Your Answers:</h3> 
			<ol>
				{{ _.each(questions, function(question) { }}
					{{ if (typeof(question["answer_id"]) !== "undefined") { }}	
						<li>
							<strong>{{= question["text"] }}</strong>
							{{ _.each(question["answers"], function(answer) { }}
								{{ if (answer["answer_id"] == question["answer_id"]) { }}
									<p>{{= answer["label"]}}</p>
								{{ } }}
							{{ }); }}
						</li>
					{{ } }}
				{{ }); }}
			</ol>
		</p>
	</div>
</script>

<script src="/javascripts/underscore-min.js" type="text/javascript"></script>
<script src="/javascripts/backbone-min.js" type="text/javascript"></script>
<script src="/javascripts/training.js" type="text/javascript"></script>

<script type="text/javascript">
     $(document).ready(function() {
      	$(".fancybox").fancybox({aspectRatio: true});
     });
</script>
