<div id= "container">
	<div id="left_nav">
		<%= render partial: 'training_navigation', locals: {section: :tools_and_examples} %>
	</div>
	<div id="right">  
		<h1>When to describe?</h1>
		<p>
			Need content.
		</p>
	</div>
</div>
<div class="clear"></div>
