/* Two column for training module. */
body.active_admin .left-col {
  width: 250px;
  float: left;
  padding: 15px 10px;
  margin-right: 15px;
  margin-left: 15px;
}

body.active_admin .left-col-nav {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  border: 1px dashed #DADADA;
}

body.active_admin .right-col {
  margin-left: 317px; 
  padding-right: 2em;
}

.clear {
  clear: both;
}

#yes {
  color: green;
}

#no {
  color: red;
}

#question legend {
  padding: 15px 0px;
}

#buttons {
  padding: 15px 0px;
}

body ul.inline {
    padding: 15px; 
}

body ul.inline > li {
    display: inline-block;
    zoom:1;
    *display:inline;
}

#when-to-describe {
	max-width: 1000px;
}

#when-to-describe img {
  padding-left: 20px;
}

#questionnaireImage {
	max-width: 250px;
}


.hidden-image {
    display: none;
}

#imageGallery img {
	width: 90%;
}

.shadow {
	box-shadow: 2px 2px 3px #666;
}


