		<div class="clearfix"></div>
  		<div id="push"></div>
    </div><!-- /wrap -->

    <div id="footer" class="fluid-container">
          <p>
           <strong>Legal Disclaimer</strong>: The Poet tool is intended to assist in the creation of accessible content. Use of the Poet tool is limited to activities for creating content that comply with applicable copyright law and contractual agreement. By using this tool, you accept all provisions contained in the <a href="/user/terms_of_service" target="_blank">Terms of Use</a>. If you do not wish to be bound by the provisions contained in the Terms of Use, do not use the Poet tool.
          </p>
          <p>Poet&trade; is a trademark of <a href="http://www.benetech.org">Beneficent Technology, Inc</a>. This website is copyright &copy; 2012-<%= Time.now.year %>, Beneficent Technology, Inc.</p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/libs/bootstrap.min.js"></script>