<h2>My Books</h2>
<ul class="nav">
  <li><%= link_to 'My Uploaded Books', book_list_by_user_path %></li>
  <li><a href="/edit_book/describe">Describe Images for Uploaded Book</a></li>
  <li><a href="/upload_book/upload">Upload Book for Describing</a></li>
  <li><a href="/image_book/process">Update Book</a></li>
  <li><a href="/image_book/image_check">Image Coverage Checker</a></li>
</ul>