%div{:class => "download_link", :style => "margin: auto; padding: 40px;"}

  %h3
    Thank You! Your book is being processed.
  
  %p
    Poet is inserting image descriptions back into
    %strong
      = @book_title
    \.
    Please give us up to 15 minutes to finish preparing your book.

  %p
    %img{:src => "/images/throbber.gif"}

:javascript
  function doPoll(){
    $.get('#{poll_file_with_descriptions_path(:job_id => @job.id)}', function(data) {
    console.log(data.job);
      if(data.job.state == 'complete') {
        $('.download_link').html("<h3>Download your book</h3><p>Click the provided link to download your updated book.</p><p><a href='#{download_with_descriptions_path(:job_id => @job.id, :file_type => @file_type)}'><strong>#{@book_title}</strong></a>");
      }
      else if(data.job.state == 'error') {
        $('.download_link').html("<h3>Sorry!</h3><p>" + data.job.error_explanation);
      }
      else {
        setTimeout(doPoll, 500);
      }
    });
  }
  doPoll();