<% book_fragment_id=@book.book_fragments.first.id %>
<%
	book = Book.find session[:book_id] rescue nil
	book_fragment_id = book.book_fragments.first.id
%>
<div class="container-fixed">
	<div class="col-md-3" id="left">
		<div id="toggle" class="pull-right">
			<img src="/images/close-icon.png" id="close-nav" alt="close nav" />
			<img src="/images/expand.jpg" alt="open nav" id="expand" style="display: none;" />
		</div>
		<div id="tool_bar" class="offcanvas">
			<form class="form-horizontal" role="form">
				<div class="form-group fluid-container">
					<label for="filter" class="col-sm-2 control-label">Show</label>
					<div class="col-sm-8">
						<%= select_tag(:filter, options_for_select([[t(:filter_all), EditBookController::FILTER_ALL], [t(:filter_essential), EditBookController::FILTER_ESSENTIAL], [t(:filter_non_essential), EditBookController::FILTER_NON_ESSENTIAL], [t(:filter_description_needed), EditBookController::FILTER_DESCRIPTION_NEEDED], [t(:filter_unspecified), EditBookController::FILTER_UNSPECIFIED]], @filter),{ :class=> "form-control"})%>
					</div>
					<div class="col-sm-2"><span id="num_images"></span></div>
				</div>
				<div class="form-group fluid-container">
					<div class="col-sm-10">
						<div class="input-group">
							<label for="image_number" class="sr-only">Go to Image #</label>
							<%= text_field_tag :image_number, nil, :class=>"form-control", :placeholder=>"Go to Image #" %>
				      		<span class="input-group-btn">
				        		<button class="btn btn-default" type="button">Go!</button>
				      		</span>
				    	</div>
				    </div>
			    </div>
			    <div class="clearfix"></div>
		    </form>
		</div>
		<div id="side_bar" class="offcanvas">
		</div>
	</div>   


	<div class="col-md-9" id="right">
		<div id="book_title"></div>
		<div id="book_content">Please wait while we load book content...</div>
	</div>
</div>

<input id="book_id" value="<%= book.id %>" type="hidden" />
<input id="book_fragment_id" value="<%= book_fragment_id %>" type="hidden" />

<!-- Load the script "js/main.js" as our entry point -->
<!-- I couldn't get require.js to load deps correctly for ckeditor in chrome. -->
<script data-main="/javascripts/edit_book/main" src="/javascripts/libs/require.js"></script>



